body {



}

        @font-face {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 100;
            src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format('woff');
        }

        @font-face {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 300;
            src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
        }

        @font-face {
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
        }

        @font-face {
            font-family: 'icomoon';
            src: url('../fonts/icomoon.eot');
            src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.svg#icomoon') format('svg');
            font-weight: normal;
            font-style: normal;
        }

        /* Use the following CSS code if you want to use data attributes for inserting your icons */

        [data-icon]:before {
            font-family: 'icomoon';
            content: attr(data-icon);
            speak: none;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
        }

        /* Use the following CSS code if you want to have a class per icon */

        /*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/

        .icon-arrow-right,
        .icon-calendar-alt-fill,
        .icon-chrome,
        .icon-picassa,
        .icon-skype,
        .icon-cloud,
        .icon-cloudy,
        .icon-dropbox,
        .icon-instagram {
            font-family: 'icomoon';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
        }

            .icon-arrow-right:before {
                content: "\e000";
            }

            .icon-calendar-alt-fill:before {
                content: "\e001";
            }

            .icon-chrome:before {
                content: "\e002";
            }

            .icon-picassa:before {
                content: "\e003";
            }

            .icon-skype:before {
                content: "\e004";
            }

            .icon-cloud:before {
                content: "\e005";
            }

            .icon-cloudy:before {
                content: "\e006";
            }

            .icon-dropbox:before {
                content: "\e007";
            }

            .icon-instagram:before {
                content: "\f16d";
            }

        /*

Copyright © 2013 Sara Soueidan

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.



*/

        /*///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

        .slidePageInFromLeft {
            -webkit-animation: slidePageInFromLeft .8s cubic-bezier(.01,1,.22,.99) 1 0.25s normal forwards;
            -o-animation: slidePageInFromLeft .8s cubic-bezier(.01,1,.22,.99) 1 0.25s normal forwards;
            animation: slidePageInFromLeft .8s cubic-bezier(.01,1,.22,.99) 1 0.25s normal forwards;
        }

        .openpage {
            -webkit-animation: rotatePageInFromRight 1s cubic-bezier(.66,.04,.36,1.03) 1 normal forwards;
            -o-animation: rotatePageInFromRight 1s cubic-bezier(.66,.04,.36,1.03) 1 normal forwards;
            animation: rotatePageInFromRight 1s cubic-bezier(.66,.04,.36,1.03) 1 normal forwards;
        }

        .slidePageBackLeft {
            opacity: 1;
            left: 0;
            -webkit-animation: slidePageBackLeft .8s ease-out 1 normal forwards;
            -o-animation: slidePageBackLeft .8s ease-out 1 normal forwards;
            animation: slidePageBackLeft .8s ease-out 1 normal forwards;
        }

        .slidePageLeft {
            opacity: 1;
            -webkit-transform: rotateY(0) translateZ(0);
            -ms-transform: rotateY(0) translateZ(0);
            -o-transform: rotateY(0) translateZ(0);
            transform: rotateY(0) translateZ(0);
            -webkit-animation: slidePageLeft .8s ease-out 1 normal forwards;
            -o-animation: slidePageLeft .8s ease-out 1 normal forwards;
            animation: slidePageLeft .8s ease-out 1 normal forwards;
        }

        .fadeOutback {
            -webkit-animation: fadeOutBack 0.3s ease-out 1 normal forwards;
            -o-animation: fadeOutBack 0.3s ease-out 1 normal forwards;
            animation: fadeOutBack 0.3s ease-out 1 normal forwards;
        }

        .fadeInForward-1,
        .fadeInForward-2,
        .fadeInForward-3 {
            opacity: 0;
            -webkit-transform: translateZ(-5em) scale(0.75);
            -ms-transform: translateZ(-5em) scale(0.75);
            -o-transform: translateZ(-5em) scale(0.75);
            transform: translateZ(-5em) scale(0.75);
            -webkit-animation: fadeInForward .5s cubic-bezier(.03,.93,.43,.77) .4s normal forwards;
            -o-animation: fadeInForward .5s cubic-bezier(.03,.93,.43,.77) .4s normal forwards;
            animation: fadeInForward .5s cubic-bezier(.03,.93,.43,.77) .4s normal forwards;
        }

        .fadeInForward-2 {
            -webkit-animation-delay: .55s;
            -o-animation-delay: .55s;
            animation-delay: .55s;
        }

        .fadeInForward-3 {
            -webkit-animation-delay: .7s;
            -o-animation-delay: .7s;
            animation-delay: .7s;
        }

        @keyframes fadeOutBack {
            0% {
                -webkit-transform: translateX(-2em) scale(1);
                -ms-transform: translateX(-2em) scale(1);
                -o-transform: translateX(-2em) scale(1);
                transform: translateX(-2em) scale(1);
                opacity: 1;
            }

            70% {
                -webkit-transform: translateZ(-5em) scale(0.6);
                -ms-transform: translateZ(-5em) scale(0.6);
                -o-transform: translateZ(-5em) scale(0.6);
                transform: translateZ(-5em) scale(0.6);
                opacity: 0.5;
            }

            95% {
                -webkit-transform: translateZ(-5em) scale(0.6);
                -ms-transform: translateZ(-5em) scale(0.6);
                -o-transform: translateZ(-5em) scale(0.6);
                transform: translateZ(-5em) scale(0.6);
                opacity: 0.5;
            }

            100% {
                -webkit-transform: translateZ(-5em) scale(0);
                -ms-transform: translateZ(-5em) scale(0);
                -o-transform: translateZ(-5em) scale(0);
                transform: translateZ(-5em) scale(0);
                opacity: 0;
            }
        }

        @keyframes fadeInForward {
            0% {
                -webkit-transform: translateZ(-5em) scale(0);
                -ms-transform: translateZ(-5em) scale(0);
                -o-transform: translateZ(-5em) scale(0);
                transform: translateZ(-5em) scale(0);
                opacity: 0;
            }

            100% {
                -webkit-transform: translateZ(0) scale(1);
                -ms-transform: translateZ(0) scale(1);
                -o-transform: translateZ(0) scale(1);
                transform: translateZ(0) scale(1);
                opacity: 1;
            }
        }

        @keyframes rotatePageInFromRight {
            0% {
                -webkit-transform: rotateY(-90deg) translateZ(5em);
                -ms-transform: rotateY(-90deg) translateZ(5em);
                -o-transform: rotateY(-90deg) translateZ(5em);
                transform: rotateY(-90deg) translateZ(5em);
                opacity: 0;
            }

            30% {
                opacity: 1;
            }

            100% {
                -webkit-transform: rotateY(0deg) translateZ(0);
                -ms-transform: rotateY(0deg) translateZ(0);
                -o-transform: rotateY(0deg) translateZ(0);
                transform: rotateY(0deg) translateZ(0);
                opacity: 1;
            }
        }

        @keyframes slidePageLeft {
            0% {
                left: 0;
                -webkit-transform: rotateY(0deg) translateZ(0);
                -ms-transform: rotateY(0deg) translateZ(0);
                -o-transform: rotateY(0deg) translateZ(0);
                transform: rotateY(0deg) translateZ(0);
                opacity: 1;
            }

            70% {
                opacity: 1;
            }

            100% {
                opacity: 0;
                left: -150%;
                -webkit-transform: rotateY(0deg);
                -ms-transform: rotateY(0deg);
                -o-transform: rotateY(0deg);
                transform: rotateY(0deg);
            }
        }

        @keyframes slidePageInFromLeft {
            0% {
                opacity: 0;
            }

            30% {
                opacity: 1;
            }

            100% {
                opacity: 1;
                left: 0;
            }
        }

        @keyframes slidePageBackLeft {
            0% {
                opacity: 1;
                left: 0;
                -webkit-transform: scale(0.95);
                -ms-transform: scale(0.95);
                -o-transform: scale(0.95);
                transform: scale(0.95);
            }

            10% {
                -webkit-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -o-transform: scale(0.9);
                transform: scale(0.9);
            }

            70% {
                opacity: 1;
            }

            100% {
                opacity: 0;
                left: -150%;
            }
        }

        /*======================= media queries for animations =======================*/

        @media screen and (min-width: 64em) {
            @keyframes fadeInForward {
                80% {
                    opacity: 0.9;
                }

                100% {
                    -webkit-transform: translateZ(0) scale(1) translateX(-2em);
                    -ms-transform: translateZ(0) scale(1) translateX(-2em);
                    -o-transform: translateZ(0) scale(1) translateX(-2em);
                    transform: translateZ(0) scale(1) translateX(-2em);
                    opacity: 1;
                }
            }
        }

        /*/////////////////////////////////////////////////////////////////////////////////////////////////////////*/

        * {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        .clearfix:before,
        .clearfix:after {
            content: " ";
            display: table;
        }

        .clearfix:after {
            clear: both;
        }

        .clearfix {
            *zoom: 1;
        }

        html {
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        body {
            width: 100%;
            height: 100%;
            line-height: 1.5;
         
            font-weight: 300;
            font-size: 16px;
            background-color: #eee;
             background: url('http://www.no-zaku.com/background/wp-content/uploads/sites/9/2016/11/Awesome-White-Background-Images-For-Websites.jpg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
            background-size: 100% 100%;
        }

        ul {
            list-style-type: none;
        }

        header {
            background-color: rgba(0,0,0,0.2);
            height: 35px;
            line-height: 35px;
            padding: 0 30px;
            color: white;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 2;
        }

            header a {
                text-decoration: none;
                color: inherit;
                font-size: 17px;
            }

        .demo-wrapper {
            padding: 2em .5em;
            width: 100%;
            height: 100%;
            -webkit-perspective: 3300px;
            -ms-perspective: 3300px;
            -o-perspective: 3300px;
            perspective: 3300px;
            position: relative;
        }

        .dashboard {
            margin: 0 auto;
            width: 100%;
            padding: 1em;
            -webkit-transform: translateX(200px);
            -ms-transform: translateX(200px);
            -o-transform: translateX(200px);
            transform: translateX(200px);
            opacity: 0;
            -webkit-animation: start 1s ease-out forwards;
            -o-animation: start 1s ease-out forwards;
            animation: start 1s ease-out forwards;
        }

        @-webkit-keyframes start {
            0% {
                -webkit-transform: translateX(200px);
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                -webkit-transform: translateX(0);
                opacity: 1;
            }
        }

        @keyframes start {
            0% {
                -webkit-transform: translateX(200px);
                -ms-transform: translateX(200px);
                -o-transform: translateX(200px);
                transform: translateX(200px);
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                -webkit-transform: translateX(0);
                -ms-transform: translateX(0);
                -o-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
            }
        }

        .col1,
        .col2,
        .col3 {
            width: 99%;
            margin: 1em auto;
        }


        ::-webkit-scrollbar {
            width: 20px;
        }

        ::-webkit-scrollbar-thumb {
            background: #fff;
        }

        ::-webkit-scrollbar-track {
            background: #ddd;
        }


        .r-page {
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: 2em;
            font-weight: 300;
            position: absolute;
            right: 0;
            top: 0;
            left: 0;
            bottom: 0;
            opacity: 0;
            color: white;
            z-index: 10;
            padding: 10px;
            -webkit-transform-origin: 100% 0%;
            -ms-transform-origin: 100% 0%;
            -o-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
            -webkit-transform: rotateY(-90deg) translateZ(5em);
            -ms-transform: rotateY(-90deg) translateZ(5em);
            -o-transform: rotateY(-90deg) translateZ(5em);
            transform: rotateY(-90deg) translateZ(5em);
        }

        .s-page {
            color: white;
            z-index: 10;
            text-align: center;
            font-size: 2em;
            font-weight: 300;
        }

        .page-content {
            overflow-y: auto;
            max-height: 100%;
            font-size: .6em;
            padding: .6em;
            text-align: left;
        }
        /*default colors just in case you don't define these colors on the tiles*/
        .s-page, .r-page {
            background-color: white;
            color: black;
        }

        .page-title {
            margin: .25em 0;
            font-weight: 100;
            font-size: 3em;
            text-align: center;
        }

        .close-button {
            font-size: 1.5em;
            width: 1em;
            height: 1em;
            position: absolute;
            top: .75em;
            right: .75em;
            cursor: pointer;
            line-height: .8em;
            text-align: center;
        }

        .tile {
            float: left;
            margin: 0 auto 1%;
            color: white;
            font-size: 1.3em;
            text-align: center;
            height: 8em;
            font-weight: 300;
            overflow: hidden;
            cursor: pointer;
            position: relative;
            background-color: #fff;
            color: #333;
            position: relative;
            -webkit-transition: background-color 0.2s ease-out;
            -o-transition: background-color 0.2s ease-out;
            transition: background-color 0.2s ease-out;
        }

        .tile-2xbig {
            height: 16.15em;
            width: 100%;
        }

        .tile-big {
            width: 100%;
        }

        .tile img {
            width: 100%;
            height: 70%;
        }

        .tile-caption {
            position: absolute;
            z-index: 1;
            background-color: #455962;
            color: #fff;
            font-size: 1em;
            padding: 1em;
            text-align: left;
        }

        .caption-bottom {
            left: 0;
            bottom: 0;
            right: 0;
            height: 40%;
        }

        .caption-left {
            left: -100%;
            top: 0;
            bottom: 0;
            width: 40%;
            -webkit-transition: left .3s linear;
            -o-transition: left .3s linear;
            transition: left .3s linear;
        }

        .tile:hover .caption-left {
            left: 0;
        }

        .tile-small {
            width: 49%;
            margin-right: 2%;
        }

            .tile-small.last {
                margin-right: 0;
            }

        .tile div {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            text-align: center;
            display: table;
            padding: 0 1em;
            -webkit-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
        }

            .tile div p {
                display: table-cell;
                vertical-align: middle;
            }

        /*styling the individual tiles*/

        .tile-1 {
            background-color: #56D9C9;
            color: white;
        }

        .tile-2 {
            background-color: #455962;
            color: white;
        }

            .tile-2:hover {
                background-color: white;
                color: #455962;
            }

        .tile-3 {
            background-color: #ddd;
            color: #455962;
        }

            .tile-3:hover {
                background-color: white;
                color: #455962;
            }

        .tile-5 {
            background-color: #FCC120;
            color: white;
        }

            .tile-5:hover {
                background-color: #fff;
                color: #FCC120;
            }

        .tile-6 {
            background-color: #3EC7F3;
            color: white;
        }

        .tile-7,
        .tile-8 {
            background-color: transparent;
        }

        .tile-10 {
            background-color: #F0514A;
            color: white;
        }

            .tile-10:hover {
                background-color: white;
                color: #F0514A;
            }

            .tile-10 div {
                text-align: left;
            }

        .tile-3 p {
            font-size: 4em;
            margin-top: .5em;
        }

        .tile-5 p,
        .tile-6 p {
            font-size: 2em;
        }

            .tile-5 p span,
            .tile-6 p span {
                font-size: 1.3em;
                margin-right: .7em;
                position: relative;
                top: .15em;
            }

            .tile-6 p span {
                margin-right: 1em;
            }

        /* slide text inside tile up */

        .slideTextUp div:nth-child(2) {
            top: 100%;
        }

        .slideTextUp:hover div {
            -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            -o-transform: translateY(-100%);
            transform: translateY(-100%);
        }

        .tile-1 p {
            font-size: 1.3em;
        }

        /* slide text inside tile to the right*/

        .slideTextRight div:first-child {
            left: -100%;
        }

        .slideTextRight:hover div {
            -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
            -o-transform: translateX(100%);
            transform: translateX(100%);
        }

        /* slide text inside tile to the left */

        .slideTextLeft div:nth-child(2) {
            left: 100%;
        }

        .slideTextLeft:hover div {
            -webkit-transform: translateX(-100%);
            -ms-transform: translateX(-100%);
            -o-transform: translateX(-100%);
            transform: translateX(-100%);
        }

        /* rotate tile in 3D*/

        .rotate3d {
            -webkit-perspective: 800px;
            -ms-perspective: 800px;
            -o-perspective: 800px;
            perspective: 800px;
            overflow: visible;
        }

        .faces {
            -webkit-transform-style: preserve-3d;
            -webkit-transition: -webkit-transform 1s;
            -ms-transform-style: preserve-3d;
            -o-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -o-transition: -o-transform 1s;
            transition: -webkit-transform 1s;
            transition: -ms-transform 1s;
            transition: -o-transform 1s;
            transition: transform 1s;
        }

            .faces div {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                -ms-backface-visibility: hidden;
                -o-backface-visibility: hidden;
                backface-visibility: hidden;
            }

            .faces .front { /*default*/
                background-color: #455962;
                color: #ddd;
            }

        .rotate3dX .front {
            background-color: #455962;
            color: #ddd;
        }

        .rotate3dY .front {
            background-color: #ddd;
            color: #455962;
        }

        .faces .back {
            background-color: #455962;
            color: #ddd;
        }

        .front span {
            display: inline-block;
            font-size: 4em;
            margin-top: .5em;
        }

        .rotate3dY .back {
            -webkit-transform: rotateY( 180deg );
            -ms-transform: rotateY( 180deg );
            -o-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
        }

        .rotate3dX .back {
            -webkit-transform: rotateX( 180deg );
            -ms-transform: rotateX( 180deg );
            -o-transform: rotateX( 180deg );
            transform: rotateX( 180deg );
        }

        .back p {
            padding: 2.5em 3em;
        }

        .rotate3dY:hover .faces:hover {
            -webkit-transform: rotateY( 180deg );
            -ms-transform: rotateY( 180deg );
            -o-transform: rotateY( 180deg );
            transform: rotateY( 180deg );
        }

        .rotate3dX:hover .faces:hover {
            -webkit-transform: rotateX( 180deg );
            -ms-transform: rotateX( 180deg );
            -o-transform: rotateX( 180deg );
            transform: rotateX( 180deg );
        }

        .s-page {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: -150%;
            color: white;
            text-align: center;
            font-weight: 300;
            z-index: 1;
        }

            .s-page p {
                font-size: 6em;
                margin-top: 2em;
                font-weight: 100;
            }

        .myform {
            margin: 2em auto;
            width: 300px;
        }

        input {
            display: block;
            line-height: 40px;
            padding: 0 10px;
            width: 260px;
            height: 40px;
            float: left;
        }

        #unlock-button {
            background: black;
            color: white;
            font-size: 1em;
            float: left;
            border: 0;
            height: 2.5em;
            width: 2.5em;
            padding: .3125em;
            text-align: center;
            cursor: pointer;
            border-radius: 2px;
        }

        .delete-button {
            font-size: 0.7em;
            float: right;
            line-height: 25px;
        }

        /*======================= media queries =======================*/

        @media screen and (min-width: 43.75em) {
            .col1,
            .col2,
            .col3 {
                float: left;
                margin-right: 1%;
                width: 49%;
            }

            .page-title {
                font-size: 2.5em;
            }

            .page-content {
                font-size: 1em;
            }

            .close-button {
                font-size: 2em;
            }
        }

        @media screen and (min-width: 64em) {
            .col1,
            .col2,
            .col3 {
                float: left;
                margin-right: .5%;
                width: 31%;
            }

            .col3 {
                margin-right: 0;
            }

            .col1 {
                margin-left: 2em;
            }

            .page-title {
                font-size: 3.5em;
            }
        }


        /* prefixed animation keyframes */


        @-webkit-keyframes fadeOutBack {
            0% {
                -webkit-transform: translateX(-2em) scale(1);
                transform: translateX(-2em) scale(1);
                opacity: 1;
            }

            70% {
                -webkit-transform: translateZ(-5em) scale(0.6);
                transform: translateZ(-5em) scale(0.6);
                opacity: 0.5;
            }

            95% {
                -webkit-transform: translateZ(-5em) scale(0.6);
                transform: translateZ(-5em) scale(0.6);
                opacity: 0.5;
            }

            100% {
                -webkit-transform: translateZ(-5em) scale(0);
                transform: translateZ(-5em) scale(0);
                opacity: 0;
            }
        }

        @-webkit-keyframes fadeInForward {
            0% {
                -webkit-transform: translateZ(-5em) scale(0);
                transform: translateZ(-5em) scale(0);
                opacity: 0;
            }

            100% {
                -webkit-transform: translateZ(0) scale(1);
                transform: translateZ(0) scale(1);
                opacity: 1;
            }
        }

        @-webkit-keyframes rotatePageInFromRight {
            0% {
                -webkit-transform: rotateY(-90deg) translateZ(5em);
                transform: rotateY(-90deg) translateZ(5em);
                opacity: 0;
            }

            30% {
                opacity: 1;
            }

            100% {
                -webkit-transform: rotateY(0deg) translateZ(0);
                transform: rotateY(0deg) translateZ(0);
                opacity: 1;
            }
        }

        @-webkit-keyframes slidePageLeft {
            0% {
                left: 0;
                -webkit-transform: rotateY(0deg) translateZ(0);
                transform: rotateY(0deg) translateZ(0);
                opacity: 1;
            }

            70% {
                opacity: 1;
            }

            100% {
                opacity: 0;
                left: -150%;
                -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
            }
        }

        @-webkit-keyframes slidePageInFromLeft {
            0% {
                opacity: 0;
            }

            30% {
                opacity: 1;
            }

            100% {
                opacity: 1;
                left: 0;
            }
        }

        @-webkit-keyframes slidePageBackLeft {
            0% {
                opacity: 1;
                left: 0;
                -webkit-transform: scale(0.95);
                transform: scale(0.95);
            }

            10% {
                -webkit-transform: scale(0.9);
                transform: scale(0.9);
            }

            70% {
                opacity: 1;
            }

            100% {
                opacity: 0;
                left: -150%;
            }
        }

        @-o-keyframes fadeOutBack {
            0% {
                -webkit-transform: translateX(-2em) scale(1);
                -ms-transform: translateX(-2em) scale(1);
                -o-transform: translateX(-2em) scale(1);
                transform: translateX(-2em) scale(1);
                opacity: 1;
            }

            70% {
                -webkit-transform: translateZ(-5em) scale(0.6);
                -ms-transform: translateZ(-5em) scale(0.6);
                -o-transform: translateZ(-5em) scale(0.6);
                transform: translateZ(-5em) scale(0.6);
                opacity: 0.5;
            }

            95% {
                -webkit-transform: translateZ(-5em) scale(0.6);
                -ms-transform: translateZ(-5em) scale(0.6);
                -o-transform: translateZ(-5em) scale(0.6);
                transform: translateZ(-5em) scale(0.6);
                opacity: 0.5;
            }

            100% {
                -webkit-transform: translateZ(-5em) scale(0);
                -ms-transform: translateZ(-5em) scale(0);
                -o-transform: translateZ(-5em) scale(0);
                transform: translateZ(-5em) scale(0);
                opacity: 0;
            }
        }

        @-o-keyframes fadeInForward {
            0% {
                -webkit-transform: translateZ(-5em) scale(0);
                -ms-transform: translateZ(-5em) scale(0);
                -o-transform: translateZ(-5em) scale(0);
                transform: translateZ(-5em) scale(0);
                opacity: 0;
            }

            100% {
                -webkit-transform: translateZ(0) scale(1);
                -ms-transform: translateZ(0) scale(1);
                -o-transform: translateZ(0) scale(1);
                transform: translateZ(0) scale(1);
                opacity: 1;
            }
        }

        @-o-keyframes rotatePageInFromRight {
            0% {
                -webkit-transform: rotateY(-90deg) translateZ(5em);
                -ms-transform: rotateY(-90deg) translateZ(5em);
                -o-transform: rotateY(-90deg) translateZ(5em);
                transform: rotateY(-90deg) translateZ(5em);
                opacity: 0;
            }

            30% {
                opacity: 1;
            }

            100% {
                -webkit-transform: rotateY(0deg) translateZ(0);
                -ms-transform: rotateY(0deg) translateZ(0);
                -o-transform: rotateY(0deg) translateZ(0);
                transform: rotateY(0deg) translateZ(0);
                opacity: 1;
            }
        }

        @-o-keyframes slidePageLeft {
            0% {
                left: 0;
                -webkit-transform: rotateY(0deg) translateZ(0);
                -ms-transform: rotateY(0deg) translateZ(0);
                -o-transform: rotateY(0deg) translateZ(0);
                transform: rotateY(0deg) translateZ(0);
                opacity: 1;
            }

            70% {
                opacity: 1;
            }

            100% {
                opacity: 0;
                left: -150%;
                -webkit-transform: rotateY(0deg);
                -ms-transform: rotateY(0deg);
                -o-transform: rotateY(0deg);
                transform: rotateY(0deg);
            }
        }

        @-o-keyframes slidePageInFromLeft {
            0% {
                opacity: 0;
            }

            30% {
                opacity: 1;
            }

            100% {
                opacity: 1;
                left: 0;
            }
        }

        @-o-keyframes slidePageBackLeft {
            0% {
                opacity: 1;
                left: 0;
                -webkit-transform: scale(0.95);
                -ms-transform: scale(0.95);
                -o-transform: scale(0.95);
                transform: scale(0.95);
            }

            10% {
                -webkit-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -o-transform: scale(0.9);
                transform: scale(0.9);
            }

            70% {
                opacity: 1;
            }

            100% {
                opacity: 0;
                left: -150%;
            }
        }

        @-o-keyframes start {
            0% {
                -webkit-transform: translateX(200px);
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                -webkit-transform: translateX(0);
                opacity: 1;
            }
        }

    /** Trang Listpost**/



article
{
    padding-bottom: 20px;
}
.article-caption
{
position: absolute;
bottom: 16px;
max-width: 90%;
text-align: center;
background-color: rgba(200,200,200,0.5);

}

.article-img
{
width: 100%; 
max-height: 400px;
object-fit: cover;
}


@media screen and (max-width: 768px) { 
.article-title
{
font-size: 28px;
}
}

@media screen and (max-width: 500px) { 
.article-title
{
font-size: 20px;
}
}

.article-caption a
{
color: white;
}
.article-button-row
{
    margin-left:60%;
}

.article-button-update
{
    margin-left:80%;
    bottom:10%;
}

/** edit post modal**/
.modal-dialog {
      width: 100%;
      height: 100%;
      padding: 0;
      margin:0;
}
.modal-content {    
      height: 100%;
      border-radius: 0;
      color:white;
      overflow:auto;
}
 .close
    {
      color:black ! important;
      opacity:1.0;
      width:20px;
      background-color:whitesmoke !important;
    } 
 #first-child
    {
      top:0;
      left:0;
      background-color: yellowgreen;
    }
    #second-child
    {
      top:0;
      left:50%;
      background-color: #E6537D;
      color:black;
    }
    #third-child
    {
      top:50%;
      left:0;
      background-color: crimson;
    }
    #fourth-child
    {
      top:50%;
      left:50%;
      background-color: lightseagreen;
      color:black;
    }
    .big-box
    {
      position: absolute;
      width: 50%;
      height: 50%;
      color:white;
    }
    .big-box h2
    {
      text-align: center;
      margin-top: 20%;
      padding: 20px;
      width: 100%;
      font-size: 1.8em;
      letter-spacing: 2px;
      font-weight: 700;
      text-transform: uppercase;
    cursor:pointer;
    }
  
    @media screen and (max-width: 46.5em) 
    {
      .big-box h2
      {
        font-size:16px;
        padding-left:0px;
        
      }
    }

    @media screen and (max-width: 20.5em) 
    {
      .big-box h2
      {
        font-size:12px;
        padding-left:0px;
        margin-top:30%;
        }
    }
    .modal-dialog {
      width: 100% !important; 
      height: 100%;
      padding: 0;
      margin:0;
    }
    .modal-content {
      
      height: 100%;
      border-radius: 0;
      color:#211c1c;
      overflow:auto;
    }
    .modal-title
    {
      font-size: 3em;
      font-weight: 300;
      margin: 0 0 20px 0;
    }
    .modal-content-one
    {
      background-color:yellowgreen;
    }
    .modal-content-two
    {
      background-color:#E6537D;
    }
    .modal-content-three
    {
      background-color:crimson;
    }
    .modal-content-four
    {
      background-color:lightseagreen;
    }

    /*  Profile */
    .square, .btn {
    border-radius: 0px!important;
}

/* -- color classes -- */
.coralbg {
    background-color: #FA396F;
} 

.coral {
    color: #FA396f;
}

.turqbg {
    background-color: #46D8D2;
}

.turq {
    color: #46D8D2;
}

.white {
    color: #fff!important;
}

/* -- The "User's Menu Container" specific elements. Custom container for the snippet -- */
div.user-menu-container {
  z-index: 10;
  background-color: #fff;
  margin-top: 20px;
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

div.user-menu-container .btn-lg {
    padding: 0px 12px;
}

div.user-menu-container h4 {
    font-weight: 300;
    color: #8b8b8b;
}

div.user-menu-container a, div.user-menu-container .btn  {
    transition: 1s ease;
}

div.user-menu-container .thumbnail {
   width:100%;
   min-height:200px;
   border: 0px!important;
   padding: 0px;
   border-radius: 0;
   border: 0px!important;
}

/* -- Vertical Button Group -- */
div.user-menu-container .btn-group-vertical {
    display: block;
}

div.user-menu-container .btn-group-vertical>a {
    padding: 20px 25px;
    background-color: #46D8D2;
    color: white;
    border-color: #fff;
}

div.btn-group-vertical>a:hover {
    color: white;
    border-color: white;
}

div.btn-group-vertical>a.active {
    background: #FA396F;
    box-shadow: none;
    color: white;
}
/* -- Individual button styles of vertical btn group -- */
div.user-menu-btns {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

div.user-menu-btns div.btn-group-vertical>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid #46D8D2;
}
/* -- The main tab & content styling of the vertical buttons info-- */
div.user-menu-content {
    color: #323232;
}

ul.user-menu-list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    border: 1px solid #eee;
}
ul.user-menu-list>li {
    padding-bottom: 8px;
    text-align: center;
}

div.user-menu div.user-menu-content:not(.active){
  display: none;
}

/* -- The btn stylings for the btn icons -- */
.btn-label {position: relative;left: -12px;display: inline-block;padding: 6px 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;}

/* -- Custom classes for the snippet, won't effect any existing bootstrap classes of your site, but can be reused. -- */

.user-pad {
    padding: 20px 25px;
}

.no-pad {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.user-details {
    background: #eee;
    min-height: 333px;
}

.user-image {
  max-height:200px;
  overflow:hidden;
}

.overview h3 {
    font-weight: 300;
    margin-top: 15px;
    margin: 10px 0 0 0;
}

.overview h4 {
    font-weight: bold!important;
    font-size: 40px;
    margin-top: 0;
}

.view {
    position:relative;
    overflow:hidden;
    margin-top: 10px;
}

.view p {
    margin-top: 20px;
    margin-bottom: 0;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background: rgba(70, 216, 210, 0.44);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.caption a {
    padding-right: 10px;
    color: #fff;
}

.info {
    display: block;
    padding: 10px;
    background: #eee;
    text-transform: uppercase;
    font-weight: 300;
    text-align: right;
}

.info p, .stats p {
    margin-bottom: 0;
}

.stats {
    display: block;
    padding: 10px;
    color: white;
}

.share-links {
    border: 1px solid #eee;
    padding: 15px;
    margin-top: 15px;
}

.square, .btn {
    border-radius: 0px!important;
}

/* -- media query for user profile image -- */
@media (max-width: 767px) {
    .user-image {
        max-height: 400px;
    }
}
.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}
/*user upload image*/

.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}   
/*report*/
a{
	color:#26a5d3;
}
a:hover,a:focus{
	text-decoration:none;
	color:#26a5d3;
}

#contact{
	background:#ddd;
	color:black;
	padding-bottom:50px;
}

textarea.form-control{
    height:100px;
}

/*comment style*/


/** ====================
 * Lista de Comentarios
 =======================*/
.comments-container {
	margin: 60px auto 15px;
	width: 768px;
}

.comments-container h1 {
	font-size: 36px;
	color: #283035;
	font-weight: 400;
}

.comments-container h1 a {
	font-size: 18px;
	font-weight: 700;
}

.comments-list {
	margin-top: 30px;
	position: relative;
}

/**
 * Lineas / Detalles
 -----------------------*/
.comments-list:before {
	content: '';
	width: 2px;
	height: 100%;
	background: #c7cacb;
	position: absolute;
	left: 32px;
	top: 0;
}

.comments-list:after {
	content: '';
	position: absolute;
	background: #c7cacb;
	bottom: 0;
	left: 27px;
	width: 7px;
	height: 7px;
	border: 3px solid #dee1e3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.reply-list:before, .reply-list:after {display: none;}
.reply-list li:before {
	content: '';
	width: 60px;
	height: 2px;
	background: #c7cacb;
	position: absolute;
	top: 25px;
	left: -55px;
}


.comments-list li {
	margin-bottom: 15px;
	display: block;
	position: relative;
}

.comments-list li:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	width: 0;
}

.reply-list {
	padding-left: 88px;
	clear: both;
	margin-top: 15px;
}
/**
 * Avatar
 ---------------------------*/
.comments-list .comment-avatar {
	width: 65px;
	height: 65px;
	position: relative;
	z-index: 99;
	float: left;
	border: 3px solid #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	overflow: hidden;
}

.comments-list .comment-avatar img {
	width: 100%;
	height: 100%;
}

.reply-list .comment-avatar {
	width: 50px;
	height: 50px;
}

.comment-main-level:after {
	content: '';
	width: 0;
	height: 0;
	display: block;
	clear: both;
}
/**
 * Caja del Comentario
 ---------------------------*/
.comments-list .comment-box {
	width: 680px;
	float: right;
	position: relative;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
	box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

.comments-list .comment-box:before, .comments-list .comment-box:after {
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	display: block;
	border-width: 10px 12px 10px 0;
	border-style: solid;
	border-color: transparent #FCFCFC;
	top: 8px;
	left: -11px;
}

.comments-list .comment-box:before {
	border-width: 11px 13px 11px 0;
	border-color: transparent rgba(0,0,0,0.05);
	left: -12px;
}

.reply-list .comment-box {
	width: 610px;
}
.comment-box .comment-head {
	background: #FCFCFC;
	padding: 10px 12px;
	border-bottom: 1px solid #E5E5E5;
	overflow: hidden;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

.comment-box .comment-head i {
	float: right;
	margin-left: 14px;
	position: relative;
	top: 2px;
	color: #A6A6A6;
	cursor: pointer;
	-webkit-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.comment-box .comment-head i:hover {
	color: #03658c;
}

.comment-box .comment-name {
	color: #283035;
	font-size: 14px;
	font-weight: 700;
	float: left;
	margin-right: 10px;
}

.comment-box .comment-name a {
	color: #283035;
}

.comment-box .comment-head span {
	float: left;
	color: #999;
	font-size: 13px;
	position: relative;
	top: 1px;
}

.comment-box .comment-content {
	background: #FFF;
	padding: 12px;
	font-size: 15px;
	color: #595959;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

.comment-box .comment-name.by-author, .comment-box .comment-name.by-author a {color: #03658c;}
.comment-box .comment-name.by-author:after {
	content: 'autor';
	background: #03658c;
	color: #FFF;
	font-size: 12px;
	padding: 3px 5px;
	font-weight: 700;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/** =====================
 * Responsive
 ========================*/
@media only screen and (max-width: 766px) {
	.comments-container {
		width: 480px;
	}

	.comments-list .comment-box {
		width: 390px;
	}

	.reply-list .comment-box {
		width: 320px;
	}
}

.menu-bar {
    position: absolute;
    top: 20px;    
    left: 50%;
    height: 14px;
    margin-left: -10px;
}

.bars {
    display: block;
    width: 20px;
    height: 3px;    
    background-color: #333;
    box-shadow: 0 5px 0 #333, 0 10px 0 #333;
}

.menu {
    display: none; 
    width: 100%;
    padding: 30px 10px 50px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
}
.menu ul {
    margin-bottom: 0;
}
.menu a {
    color: #333; 
    text-transform: uppercase;
    opacity: 0.8;
}
.menu a:hover {
    text-decoration: none;
    opacity: 1;
}
       login_body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
  margin-top:50px;
}



.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
    margin-top:100px;
    margin-left:-50px;
}

h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.login_wrapper {
    text-align: center;
}
input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 500px;
    padding: 40px 40px;

}

.login-button{
	margin-top: 5px;
}

.login-register{
	font-size: 11px;
	text-align: center;
}
h6.title { 
	font-size: 14px;
	font-family: 'Passion One', cursive; 
	font-weight: 400; 
    color:blueviolet;
}
